{% include 'recipes/partials/header.html' %}

<body>
    {% include 'recipes/partials/header1.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class=" recipes recipes-list-item">
                <div class="recipes-cover">
                    <img src="https://via.placeholder.com/1288x720.png/269fe6" alt="temporario">
                    <div class="recipes-title-container">
                        <h2 class="recipes-title">lorem ipsum dolor sit amet</h2>
                    </div>

                </div>
            </div>
        </div>

    </main>

</body>

</html>